<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeBuy"
        tools:targetApi="31">
        <!-- Use for Facebook login SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <!-- Firebase Authentication SDK with Facebook provider  -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GroupDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GroupsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".TestPageActivity"
            android:exported="false" />
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerHomePageActivity"
            android:exported="false" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider126058520485105"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

</manifest>